{% extends "navbar.html" %} 
{% block navselect %}
<div class="collapse navbar-collapse" id="navigation">
  <ul class="nav navbar-nav">
    <li> 
      <a href="/"> Home</a> 
    </li>
    <li class = "active"> 
      <a href = "/about/"> About </a>
    </li>
  </ul>
</div>
{% endblock %}

<div class="container">
  <div class="col-lg-12">
    <h1 class="page-header"> About Us
      <small> Welcome! </small>
    </h1>
    <p> Live Song and Prosper is an innovative program that links your favorite images with catchy tunes and lyrics! </p>
  </div>
</div>
<div class="row"> 
  <div class="col-lg-12">
    <h2 class="page-header"> Our Team/CHSM </h2>
    <div class="col-lg-4 col-sm-6 text center">
      <img class="img-circle img-responsive img-center" src="../static/nicole.jpg" alt="" width="300" height="300">
      <h3> Nicole Chenge 
        <small>Development</small>
      </h3>
      <p> Nicole Cheng Puts the C in CHSM </p>
    </div>
    <div class="col-lg-4 col-sm-6 text center">
      <img class="img-circle img-responsive img-center" src="../static/james.jpg" alt="" width="300" height="300">
      <h3> James Yang
        <small>Project Manager</small>
      </h3>
      <p> James Yang Puts the H in CHSM </p>
    </div>
    <div class="col-lg-4 col-sm-6 text center">
      <img class="img-circle img-responsive img-center" src="../static/stiven.jpg" alt="" width="300" height="300">
      <h3> Stiven Peter
        <small>Front End</small>
      </h3>
      <p> Stiven Peter Puts the S in CHSM </p>
    </div>
    <div class="col-lg-4 col-sm-6 text center">
      <img class="img-circle img-responsive img-center" src="../static/max.jpg" alt="" width="300" height="300">
      <h3> Max Bertfield
        <small>Development</small>
      </h3>
      <p> Max Bertfield Puts the M in CHSM </p>
    </div>
  </div>
</div>
</body>
</html>


